.smooth-dnd-draggable-wrapper {
  overflow: auto;
  float: unset;
}

.smooth-dnd-draggable-wrapper.animated{
  transition: transform 0.25s ease;
}

.smooth-dnd-ghost.animated{
  transition: all 0.1s ease-out;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}