.smooth-dnd-container *{
  box-sizing: border-box;
}

.smooth-dnd-container{
  position: relative;
  background: greenyellow;
}

.smooth-dnd-container.vertical{
}

.smooth-dnd-container.horizontal{
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
}

.smooth-dnd-container.horizontal .smooth-dnd-draggable-wrapper{
  flex: 0 0 auto;
  float: left;
  height: 100%;
  /* display: inline-block; */
}


.smooth-dnd-draggable-wrapper {
  overflow: hidden;
}

.smooth-dnd-draggable-wrapper.animated{
  transition: transform 0.18s ease;
}

.smooth-dnd-ghost.animated{
  transition: all 0.18s ease-out;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.no-user-select{
  user-select: none;
}