.App {
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #eee
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.container {
  position: absolute;
 height: 1000px;
 width: 600px;
 overflow-y: auto;
 border: 1px solid #aaa;
 background-color: white;
 top: 50%;
 transform: translate(-50%, -50%);
 left: 50%;
}

.item {
  height: 50px;
  margin: 2px;
  background-color: #eee;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #ccc;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
